<html>
    <head>
        <title>
            Dashboard
        </title>
    </head>
    <body style="margin-top: 30px;margin-left: 30px;">
        <div>
          <a href="{% url 'wallet-loadData' %}">Load excel data</a>
        </div>
        <form action="{% url 'wallet-dashboard' %}" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Filter</button>
        </form>

        <p></p>
        <hr>
        <div>
          <h2>Statistics</h2>
          <div><b>Global</b></div>
          <div>Put in so far: {{stats.putInSoFar}}</div>
          <div><b>For selected term:</b></div>
          <div>Gain realized: {{stats.realizedGain}}</div>
          <div>Fee from realized gain: {{stats.feeFromRealizedGain}}</div>
        </div>

        <hr>
        <div>
          <h2>Wallet</h2>
          {% for rowName, quantity in walletShares.items %}
            <a href="{% url 'wallet-shareDetails' rowName %}">{{ rowName }}</a>&nbsp;&nbsp;
            {{ quantity }}&nbsp;&nbsp;
            <br>
          {% endfor %}
        </div>

        <hr>
        <div>
          <h2>Filtered transactions</h2>
          {% for row in listOfAllTransactionsFiltered %}
            {{ row.date }}&nbsp;&nbsp;
            {{ row.transactionType }}&nbsp;&nbsp;
            <a href="{% url 'wallet-shareDetails' row.name %}">{{ row.name }}</a>&nbsp;&nbsp;
            {{ row.quantity }}&nbsp;&nbsp;
            {{ row.accountType }}&nbsp;&nbsp;
            <br>
          {% endfor %}
        </div>

        <hr>
        <div>
          <h2>History of all transactions</h2>
          {% for row in listOfAllTransactionsForSpecificAccountType %}
            {{ row.date }}&nbsp;&nbsp;
            {{ row.transactionType }}&nbsp;&nbsp;
            <a href="{% url 'wallet-shareDetails' row.name %}">{{ row.name }}</a>&nbsp;&nbsp;
            {{ row.quantity }}&nbsp;&nbsp;
            {{ row.price }}&nbsp;&nbsp;
            {{ row.transactionValue }}&nbsp;&nbsp;
            {{ row.fee }}&nbsp;&nbsp;
            {{ row.balanceChange }}&nbsp;&nbsp;
            {{ row.accountType }}&nbsp;&nbsp;
            <br>
          {% endfor %}
        </div>
    </body>
</html>
