{% load humanize %}
<h2>{{shareName}} [{{currentRate}}]</h2>

<div>
  <h2>Statistics</h2>
    <div>Quantity in wallet: {{shareQuantity}}</div>
    <div>Gain already realized:
        <b style="color:{% if gainAlreadyRealized > 0 %} green {% else %} red {% endif %}">
            {{ gainAlreadyRealized|floatformat:0|intcomma }}
        </b>
    </div>
    <div>Gain if all sell on current price:
        <b style="color:{% if gainAlreadyRealizedWithCurrentShares > 0 %} green {% else %} red {% endif %}">
            {{ gainAlreadyRealizedWithCurrentShares|floatformat:0|intcomma }}
        </b>
    </div>
</div>

<hr>
<div>
  <h2>List of all transactions:</h2>
  {% for transaction in shareTransactions %}
    <div style="background-color: {% if transaction.isRealTransaction %} lightgray {% else %} red {% endif %}">
        {{ transaction.date}}&nbsp;&nbsp;
        {{ transaction.transactionType }}&nbsp;&nbsp;
        {{ transaction.name }}&nbsp;&nbsp;
        {{ transaction.quantity }} x {{ transaction.price }}&nbsp;&nbsp;
        <b style="color:{% if transaction.realizedGain > 0 %} green {% else %} red {% endif %}">
            {{ transaction.realizedGain|floatformat:0|intcomma }}
        </b>&nbsp;&nbsp;
    </div>
    <ul>
      {% for transactionBuy in transaction.listOfBuyTransactions %}
        <li>
            {{ transactionBuy.date }}&nbsp;&nbsp;
            {{ transactionBuy.transactionType }}&nbsp;&nbsp;
            {{ transactionBuy.name }}&nbsp;&nbsp;
            {{ transactionBuy.quantityRealized }}&nbsp;&nbsp;
            x{{ transactionBuy.price }}&nbsp;&nbsp;
        </li>
      {% endfor %}
    </ul>
    <br>
  {% endfor %}
</div>
